@model BestRestaurants.Models.Restaurant
<!-- @using BestRestaurants.Models -->

<h2>Restaurant Details</h2>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

<p>@Html.ActionLink("Back to list", "Index")</p>

<!-- name is not displaying in details page -->